* {
  padding: 0;
  margin: 0;
  list-style: none;
  vertical-align: baseline;
}

body { 
  font-family: 'Raleway', sans-serif;
  font-weight: 400;  
  height: 100vh;
  display: flex;
  justify-content: center;
}


#text #author{
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#quote-box {
  margin: auto auto;
  height: auto;
  padding: 40px 50px;
  width: 30%;
  display: table;
  background-color: #fff;
  border-radius: 3px;
}



.quote-text {
  display: flex;
}

.button-box {
  float: right;
}

#text { 
  font-size: 1.75rem;
}
.author-box { 
  display: flex;
  justify-content: flex-end;
}
